<section id="aboutme">
<h2>
	Me in 10 seconds
</h2>
<p>
  Minimalist.
</p><p>
	Here’s <a href="/now">what I’m doing now</a>.
</p>
</section>


<section id="contact">
<h2>Contact</h2>
<p>
	Please read <a href="/contact">why you should contact me</a>, then introduce yourself.
</p>
</section>


<section id="newestarticles">
<h2>Newest Articles <small><a href="/blog">see all</a></small></h2>
<ul><% @new_blogs.each do |b| %>
	<li><a href="/<%= b[:url] %>"><%=h b[:title] %></a></li><% end %>
</ul>
</section>

<section id="photos">
<h2>Photos <small>(click for big)</small></h2>
<a href="/images/test.jpg"><img src="test.jpg" alt="Test" title=""/></a>
</section>

<section id="tweets">
<h2>Tweets <small><a href="/tweets">see all tweets</a></small></h2>
<dl id="tweetlist"><% @new_tweets.each do |t| %>
	<dt><%= t[:show_date] %></dt>
	<dd><%= t[:tweet] %></dd><% end %>
</dl>
</section>

<section id="search">
<h2>Search</h2>
<form action="https://www.google.com/search" method="get">
	<label for="q">Search makoncline.com for anything:</label>
	<input type="text" name="q" value="">
	<input type="hidden" name="sitesearch" value="makoncline.com">
	<input type="submit" value="search">
</form>
</section>
